obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/UserService.AssemblyInfo.cs
obj/Debug/net8.0/UserService.AssemblyInfoInputs.cache
obj/Debug/net8.0/UserService.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/UserService.GlobalUsings.g.cs
